<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>configGroup</title>
<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
	<style>
        .normal {
			cursor: pointer;
			border: #909090 1px solid;
		}
		
		.change {
			cursor: pointer;
			border: #909090 1px solid;
			background-color: #157FCC;
		}
		.x-tree-checkbox-noall{
			margin-right: 4px;
			top: 5px;
			width: 15px;
			height: 15px;
			background-image: url(156.png);
		}
    </style>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
	<script type="text/javascript" src="../../js/website/model.js"></script>
	<script type="text/javascript" src="../../js/website/store.js"></script>
	<script type="text/javascript" src="../../js/configurationgroup/model.js"></script>
	<script type="text/javascript" src="../../js/configurationgroup/store.js"></script> 
	<script type="text/javascript" src="../../js/configurationgroup/ConfigGroup.js"></script>
	<script type="text/javascript" src="../../js/configurationgroup/controller.js"></script> 
</head>
<body>
<div id = "jie"></div>
</body>
</html>
