<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Role</title>
<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
	<style>
        .normal {
			cursor: pointer;
			border: #909090 1px solid;
		}
		
		.change {
			cursor: pointer;
			border: #909090 1px solid;
			background-color: #157FCC;
		}
		.x-tree-checkbox-noall{
			margin-right: 4px;
			top: 5px;
			width: 15px;
			height: 15px;
			background-image: url(../../css/config/156.png);
		}
    </style>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script> 
	<script type="text/javascript" src="../../js/role/view/main.js"></script> 
	<script type="text/javascript">
		Ext.Loader.setPath({
			enabled : true,
			"CGP.role" : path + 'js/role'
		});
	</script>
</head>
<body>

</body>
</html>
