<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/customer/view/AddressBooksGrid.js"></script>
    <script type="text/javascript" src="../../js/country/model/CountryModel.js"></script>
    <script type= "text/javascript" >
        Ext.Loader.setPath({
            enabled : true,
            "CGP.customer": path+"js/customer"
        });
    </script>
    <style>
        .vertical-middle {
            vertical-align: middle;
        }
        .address-relativeCls{

            min-width: 50px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1.5;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #777;
            border-radius: 10px;
        }

    </style>
</head>
<body>

</body>
</html>
