<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>BuilderBackgroundClass</title>
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
	<script type="text/javascript" src="../../js/builderbackgroundclass/view/edit.js"></script>
</head>
<body>

</body>
</html>
