<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Edti_multilingual</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css">
    <!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/product/edit/view/MultiLingualConfig.js"></script>
    <script type="text/javascript">
        Ext.onReady(function(){
            var orderStatusStore = Ext.create('CGP.common.store.OrderStatuses');

            var page = Ext.create('Ext.container.Viewport',{
                layout: "border",
                /*defaults: {
                    split: true,
                    hideCollapseTool: true
                },*/
                items: []
            });
            orderStatusStore.load({callback: function(records, options, success){
                var idArr = [];
                var frontendNameArr = [];
                var nameArr = [];
                Ext.Array.each(records,function(record){
                    idArr.push(record.get('id'));
                    frontendNameArr.push(record.get('frontendName'));
                    nameArr.push(record.get('name'));
                });

                var orderStatusTab = Ext.create('CGP.orderstatusmultilingual.OrderStatusMultilingual',{
                    idArr: idArr,
                    frontendNameArr: frontendNameArr,
                    nameArr: nameArr,
                    region: 'center',
                    multilingualKey: 'com.qpp.cgp.domain.order.OrderStatus'
                });
                page.add(orderStatusTab);
            }})
        });

    </script>

</head>

<body>

</body>

</html>
