<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Modify Customer</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css">
    <!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
 
    <script type="text/javascript" src="../../js/order/actions/modifyuser/modifyuser.js"></script>
    <style>
    	/** 覆盖disabled=true 的 Extjs的x-form-text 样式 **/
		/** 对所有form下的 带有text文本框的控件 有效 **/
		.custom-disabled .x-form-text {
		    color: black;
		    padding: 4px 6px 3px 6px;
		    background: rgb(235, 235, 228);
		    border-width: 1px;
		    border-style: solid;
		    border-color: silver #d9d9d9 #d9d9d9;
		    line-height: 15px;
		    opacity: .9;
		}
    </style>
</head>

<body>
</body>

</html>
