<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>cmspage</title>
    <link rel="stylesheet" type="text/css"
          href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <style>
        .vertical-middle {
            vertical-align: middle;
        }

        .padding-right-ten {
            padding-right: 10px
        }

        /**自定义file上传的按钮对齐 **/
        .x-form-item-body td {
            vertical-align: top;
        }
    </style>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/common/field/ProductCategoryCombo.js"></script>
    <script type="text/javascript" src="../../js/cmspage/view/main.js"></script>

</head>
<body>

</body>
</html>
