<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/material/view/InfoTab.js"></script>
    <script type="text/javascript">
        Ext.Loader.setPath({
            enabled: true,
            'CGP': path + 'js'
        });
        Ext.onReady(function () {
            var page = Ext.create('Ext.Viewport',{
                layout: 'border',
                header: false,
                items: [Ext.create('CGP.material.view.InfoTab')]
            });
        });
    </script>
</head>
<body>

</body>
</html>
