.normal {
	/* padding: 20px; */
	cursor: pointer;
	/* height: 100%; */
	border: #909090 1px solid;
}

.change {
	/* padding: 20px; */
	cursor: pointer;
/* 	height: 100%; */
	border: #909090 1px solid;
	background-color: #157FCC;
/* 	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; */
}
.x-tree-checkbox-noall{
	margin-right: 4px;
	top: 5px;
	width: 15px;
	height: 15px;
	background-image: url(156.png);
}