<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>PromotionRule</title>
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
	<link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
	<script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
	<script type="text/javascript" src="../../js/promotionrule/view/edit.js"></script>
	<script type="text/javascript" src="../../js/promotionrule/model/PaymentMethod.js"></script>
	<script type="text/javascript">
		Ext.Loader.setPath({
			enabled : true,
			"CGP.promotionrule" : path + 'js/promotionrule'
		});
		Ext.Loader.setPath({
			enabled : true,
			"CGP.order" : path + "js/order"
		});
		Ext.Loader.setPath({
			enabled : true,
			"CGP.customer" : path + "js/customer"
		});
	</script>
	<style>
		.custom-disabled .x-form-text {
		    color: black;
		    padding: 4px 6px 3px 6px;
		    background: rgb(250, 250, 250);
		    border-width: 1px;
		    border-style: solid;
		    border-color: silver #d9d9d9 #d9d9d9;
		    line-height: 15px;
		    opacity: .9;
		}
	</style>
</head>
<body>

</body>
</html>
