<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Attribute</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css">
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/grid/column/ArrayColumn.js"></script>
    <script type="text/javascript" src="../../js/attributesets/view/main.js"></script>
    <script type="text/javascript">
    	Ext.Loader.setPath({
    		enabled : true,
    		"CGP.attribute" : path + 'js/attribute'
    	});
    </script>
    <style>
        /*颜色色块css*/
        
        a.colorpick {
            border: 2px solid#e7e7e7;
            box-sizing: content-box;
            display: inline-block;
            height: 18px;
            width: 18px;
        }
        
        .vertical-middle {
            vertical-align: middle;
        }
    </style>
</head>

<body>
</body>

</html>
