<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>config</title>
    <link rel="stylesheet" type="text/css"
          href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/currency/model/Currency.js"></script>
    <script type="text/javascript" src="../../js/language/model/LanguageModel.js"></script>
    <!-- <script type="text/javascript" src="../../js/currency/store.js"></script> -->
    <script type="text/javascript" src="../../js/configuration/model/model.js"></script>
    <script type="text/javascript" src="../../js/configuration/store.js"></script>
    <script type="text/javascript" src="../../js/configuration/website.js"></script>

</head>
<body>
<div id="jie"></div>
</body>
</html>
