<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>MailTempalteFile</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/website/model.js"></script>
    <script type="text/javascript" src="../../js/website/store.js"></script>
    <script type="text/javascript" src="../../js/configuration/mailtemplatefile/ManagerMailTemplateFile.js"></script>
</head>
<body>
</body>
</html>
