<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Invoice order mail template grid</title>
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/custom-theme/custom_theme.css"><!-- 样式表 -->
    <link rel="stylesheet" type="text/css" href="../../ClientLibs/extjs/resources/css/icon.css">
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-all.js" ></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ux/ux-all.js"></script>
    <script type="text/javascript" src="../../ClientLibs/extjs/ext-lang.js"></script>
    <script type="text/javascript" src="../../js/website/model.js"></script>
    <script type="text/javascript" src="../../js/website/store.js"></script>
    <script type="text/javascript" src="../../js/configuration/controller/EmailsField.js"></script>
    <script type="text/javascript" src="../../js/configuration/store/MailTemplateFileStore.js"></script>
    <script type="text/javascript" src="../../js/configuration/ticket/TicketModel.js"></script>
    <script type="text/javascript" src="../../js/configuration/ticket/main.js"></script>
    <style>
        td {
            vertical-align: top;
        }
        .emailDiv {
            /* //text-align : right; */
            min-width: 100px;
            max-width: 200px;
            line-height: 24px;
            height: 24px;
        }
        .emailDiv img {
            vertical-align:text-bottom;
            width: 16px;
            height: 16px;
        }
    </style>
</head>
<body>
</body>
</html>
